html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  background-color: #607D8B;
  height: 100%;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  max-width: 405px;
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.calculator__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 97px 10px;
}
.calculator__inputs {
  width: 100%;
  margin-bottom: 75px;
  overflow: hidden;
  height: 90px;
}
.calculator__output {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  max-width: 393px;
  height: 90px;
  background: #fff;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
}
.calculator__answer {
  display: block;
  font-size: 30px;
}
.calculator__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
}
.calculator__buttons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}
.calculator__buttons-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1px;
}
.calculator__buttons-middle > button {
  width: 24.8%;
}
.calculator__buttons-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}
.calculator__buttons-bt > button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.calculator__btn {
  height: 70px;
  display: block;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.calculator__btn:hover {
  background-color: #fafafa;
}
.calculator__btn:active {
  background-color: #fff;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.calculator__btn::-moz-selection {
  background-color: #fff;
}
.calculator__btn::selection {
  background-color: #fff;
}

.output-font_size {
  font-size: 20px;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.divide-btn {
  width: 25%;
}

#answer {
  background-color: #25c0ff;
  color: #fff;
}
#answer:hover {
  background-color: #24b1e9;
}

#clear {
  background-color: #d14e49;
  color: #fff;
}
#clear:hover {
  background-color: #cd514c;
}

#CE-btn {
  font-size: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#CE-btn:active {
  -webkit-transform: scale(1.03) rotate(180deg);
      -ms-transform: scale(1.03) rotate(180deg);
          transform: scale(1.03) rotate(180deg);
}

@media (max-width: 400px) {
  .calculator__buttons-middle > button {
    width: 24.7%;
  }
}/*# sourceMappingURL=style.css.map */